<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustc.charles.dao.mapper.HouseDetailMapper">
    <sql id="selectFields">
        id, description, layout_desc, traffic, round_service, rent_way, address, subway_line_id, subway_line_name, subway_station_id, subway_station_name, house_id
    </sql>

    <insert id="save" keyProperty="id">
        insert into house_detail
        (description, layout_desc, traffic, round_service, address,
         subway_line_id, subway_line_name, subway_station_id,
         subway_station_name, house_id)
        VALUES (#{description}, #{layoutDesc}, #{traffic}, #{roundService},
                #{address}, #{subwayLineId}, #{subwayLineName}, #{subwayStationId},
                #{subwayStationName}, #{houseId})
    </insert>
    <update id="update">
        update house_detail
        <trim prefix="set" suffixOverrides=",">
            <if test="description!=null">description=#{description},</if>
            <if test="layoutDesc!=null">layout_desc=#{layoutDesc},</if>
            <if test="traffic!=null">traffic=#{traffic},</if>
            <if test="roundService!=null">round_service=#{roundService},</if>
            <if test="address!=null">address=#{address},</if>
            <if test="subwayLineId!=null">subway_line_id=#{subwayLineId},</if>
            <if test="subwayLineName!=null">subway_line_name=#{subwayLineName},</if>
            <if test="subwayStationId!=null">subway_station_id=#{subwayStationId},</if>
            <if test="subwayStationName!=null">subway_station_name=#{subwayStationName},</if>
            <if test="houseId!=null">house_id=#{houseId},</if>
        </trim>
        where id=#{id}
    </update>

    <select id="selectByHouseId" resultType="com.ustc.charles.model.HouseDetail">
        select
        <include refid="selectFields"/>
        from house_detail
        where house_id=#{houseId}
    </select>
</mapper>