<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>House</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/static/css/community.css"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<!--<div th:insert="navigation::nav"></div>-->
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h4><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h4>
            <hr>
            <a th:href="@{/index/1/20/defult}">
                <span>默认排序</span>
            </a>
            <a th:href="@{/index/1/20/avg_price}">
                <span>按均价排序</span>
            </a>
            <a th:href="@{/index/1/20/total_price}">
                <span>按总价排序</span>
            </a>
            <a th:href="@{/index/1/20/update_time}">
                <span>按发布时间排序</span>
            </a>
            <hr>
            <div class="media" th:each="house:${houses}">
                <!--                <div class="media-left">-->
                <!--                    <a href="#">-->
                <!--                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">-->
                <!--                    </a>-->
                <!--                </div>-->
                <div class="media-body">
                    <h4 class="media-heading"></h4>
                    <!--                    <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>-->
                    <span th:text="${house.title}"></span><br>
                    <span class=" text-desc">
                        均价:<span th:text="${house.avgPrice}"></span>
                        总价:<span th:text="${house.totalPrice}"></span>万
                        面积:<span th:text="${house.area}"></span>平
                        <span th:text="${#dates.format(house.updateTime,'yyyy/MM/dd HH:mm')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/index/1/20/'+${field}}" aria-label="Previous">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/index/'+${pagination.currentPage-1}+'/20/'+${field}}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page:${pagination.pages}" th:class="${pagination.currentPage==page}?'active':''">
                        <a th:href="@{'/index/'+${page}+'/20/'+${field}}" th:text="${page}"></a>
                    </li>
                    <li th:if="${pagination.showNextPage}">
                        <a th:href="@{'/index/'+${pagination.currentPage+1}+'/20/'++${field}}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/index/'+${pagination.totalPage}+'/20/'++${field}}" aria-label="Next">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class=" col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>--</h3>
        </div>
    </div>
</div>
</body>
</html>